@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

/* Paksa semua input selalu hitam */
input,
textarea,
select {
  background: #ffffff !important;
  color: #000000 !important;
  border-color: #d1d5db;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af !important;
}